[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adjustedCurves"]
	path = adjustedCurves
	url = https://github.com/robindenz1/adjustedcurves
[submodule "contsurvplot"]
	path = contsurvplot
	url = https://github.com/robindenz1/contsurvplot
[submodule "simDAG"]
	path = simDAG
	url = https://github.com/robindenz1/simdag
